# Go-specific
/bot1
/blackandwhite
bin/
pkg/
vendor/

# Environment variables and configuration
.env

# Logs and temporary files
*.log
*.tmp
temp/
*.swp
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.iml

# Testing-related
_test/             # Test data or temporary files generated during tests

# Other
Thumbs.db          # Windows thumbnail cache

